---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout frontmatter={post.data} title={post.data.title}>
  <Main>
    <div class="mb-12">
      <h1 class="text-3xl font-bold text-primary">{post.data.title}</h1>
    </div>
    <div class="prose prose-invert text-zinc-50">
      <Content />
    </div>
  </Main>
</Layout>
