---

---

<nav
  class="mx-auto flex max-w-2xl items-center justify-between px-4 pt-8 max-sm:px-6"
>
  <a href="/">
    <p class="text-lg font-light tracking-tight">Shawn Kost</p>
  </a>
  <div class="flex items-center gap-4 text-sm font-light text-zinc-100/70">
    <a
      href="/posts/page/1"
      class="hover:text-primary text-zinc-100 transition-colors duration-300"
      >Posts</a
    >
    <a
      href="/tag"
      class="hover:text-primary text-zinc-100 transition-colors duration-300"
      >Tags</a
    >
  </div>
</nav>
