---
import Hr from "@components/Hr.astro";
---

<header>
  <nav
    class="mx-auto flex max-w-2xl items-center justify-between pb-4 pt-8 max-sm:px-6"
  >
    <a href="/">
      <p class="text-lg font-light tracking-tight">Shawn Kost's Blog</p>
    </a>
    <div class="flex items-center gap-4 text-sm">
      <a
        href="/posts/page/1"
        class="transition-colors duration-300 hover:text-primary">Posts</a
      >
      <a href="/tag" class="transition-colors duration-300 hover:text-primary"
        >Tags</a
      >
      <a
        href="https://shawnkost.dev"
        class="transition-colors duration-300 hover:text-primary">Portfolio</a
      >
    </div>
  </nav>
  <Hr />
</header>
